
   
*{
    box-sizing: inherit;
}

html {
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.grid {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: 8.333%;
    padding: 0 15px;
}
.col-2{
    width: calc(8.333% * 2);
    padding: 0 15px;
}

.col-3{
    width: calc(8.333% * 3);
    padding: 0 15px;
}

.col-4{
    width: calc(8.333% * 4);
    padding: 0 15px;
}

.col-5{
    width: calc(8.333% * 5);
    padding: 0 15px;
}

.col-6{
    width: calc(8.333% * 6);
    padding: 0 15px;
}

.col-7{
    width: calc(8.333% * 7);
    padding: 0 15px;
}

.col-8{
    width: calc(8.333% * 8);
    padding: 0 15px;
}

.col-9{
    width: calc(8.333% * 9);
    padding: 0 15px;
}

.col-10{
    width: calc(8.333% * 10);
    padding: 0 15px;
}

.col-11{
    width: calc(8.333% * 11);
    padding: 0 15px;
}

.col-12{
    width: 100%;
    padding: 0 15px;
}


.nav{
    background-color: rgb(88,196,232);
    padding: 30px 0;
    height: 100vh;
    position: relative;
}

.container__image-user{
    display: flex;
    justify-content: center;
}

.image-user{
    width: 80%;
}

.category--list{
    width: 80%;
    padding: 0;
    margin: auto;
}
.category--item{
    background-color: #D9D9D9;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.category--text{
    font-size: 20px;
}

.category--item--logout{
    position: absolute;
    width: 80%;
    bottom: 30px;
    right: 10%;
}

.content{
    padding: 0;
}
.container-logo{
    position: relative;
    background-color: #9D9F9C;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.container__list-apps{
    margin-top: 10px;
    padding: 0 30px;
}

.image-logo{
    width: 25%;
}

.image-app{
    width: 100%;
    border-radius: 20px;
    aspect-ratio : 1 / 1;
}

.container__app{
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.container__app:hover{
    cursor: pointer;
    background-color: #eee;
}

.name-app{
    margin: 0;
    margin-top: 10px;
    color: rgb(32,33,36);
    font-size: 16px;
}

.rate-app{
    color: #5F6368;
}
.btn-category{
    display: none;
}
.btn-close-category{
    display: none;
}


@media (max-width:740px){

    .btn-category,
    .btn-close-category{
        display: block;
        position: absolute;
        font-size: 30px;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
    }

    .btn-close-category{
        display: none;
    }


    [class*="col-"] {
        width: 50%;
    }

    .col-10{
        width: 100%;
    }
    .nav{
        display: none;
        position: absolute;
        z-index: 10;
    }

    .container > .col-2{
        width: 100%;
    }

    .container-logo{
        padding: 10px;
        position: fixed;
        z-index: 20;
    }
    .image-logo{
        width: 50%;
    }

    .image-user{
        width: 50%;
        margin-top: 20%;
    }

    .container__list-apps{
        margin-top: 20%;
    }

}
